.m-inline-select .m-input { padding-right: 22px; }
.m-inline-select .m-placeholder{ margin-right: 22px; }
.m-inline-select .m-input-ico { position: absolute; right: 0; top: 0; width: 22px; height: 100%; background: url(./filter-select-icon.png) no-repeat 50% 50%; }